@font-face {
  font-family: myFont;
  src: url(../fonts/pixel_font.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'myFont';
}

:root {
  /* Color Variables */
  --white-color: #ffffff;
  --grey-color: #252525;
  --primary-color: #000000;
  --secondary-color: #4f0073;
  --light-pink-color: #f8d3e0;
  --medium-grey-color: #b0b0b0;

  /* Font Variables */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font Weight Variables */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Radius Variables */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max Width Variables */
  --site-max-width: 1300px;
}

html {
  margin: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Global Styles */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
  filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

body {
  background: var(--primary-color);
}

.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  color: var(--white-color);
  text-align: center;
  padding: 200px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  z-index: 30;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  background: var(--secondary-color);
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
}

.container {
  width: 90%;
  max-width: 37.5em;
  background-color: var(--grey-color);
  padding: 3em 0.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.8em;
}

/* Navbar Styling */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  padding: 5%;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-item {
  padding: 10px 18px;
  font-size: var(--font-size-l);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

button {
  color: var(--white-color);
  font-size: var(--font-size-l);
}

.navbar .nav-menu .nav-item:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.navbar :where(.button-close, .button-open) {
  display: none;
}

/* Hero Section Styling */
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--white-color);
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.hero-section .hero-details .button:hover {
  color: var(--white-color);
  border-color: var(--white-color);
  background: transparent;
}

.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
}


/* About Section Styling */
.about-section {
  padding: 270px 0;
  background: var(--primary-color);
}

.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-title {
  padding: 0;
  color: var(--white-color);
}

.about-section .about-details {
  max-width: 50%;
}

.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
  color: var(--white-color);
}

/* Game Genres Section Styling */
.gamegenres-section {
  color: var(--white-color);
  background: var(--primary-color);
  padding: 50px 0 100px;
}

.gamegenres-section .gamegenre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  align-items: center;
  justify-content: space-between;
}

.gamegenres-section .gamegenre-list .gamegenre-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 110px);
}

.gamegenres-section .gamegenre-list .gamegenre-item .gamegenre-image {
  max-width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}

.gamegenres-section .gamegenre-list .gamegenre-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.gamegenres-section .gamegenre-list .gamegenre-item .text {
  font-size: var(--font-size-m);
}

/* Design Principles Section Styling */
.design-principles-section {
  padding: 50px 0 100px;
  background: var(--primary-color);
  color: var(--white-color);
}

.design-principles-section .design-principles {
  display: flex;
  padding: 35px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.design-principles-section .design-principles .design-principles-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: var(--border-radius-circle);
}

.design-principles-section .design-principles .principle {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 16px;
}

.design-principles-section .design-principles .elaboration {
  line-height: 25px;
}

/*Tools and Technologies Section Styling */
.tools-section {
  color: var(--white-color);
  background: var(--primary-color);
  padding: 50px 0 100px;
}

.tools-section .tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  align-items: center;
  justify-content: space-between;
}

.tools-section .tools-list .tool-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 110px);
}

.tools-section .tools-list .tool-item .tool-image {
  max-width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}

.tools-section .tools-list .tool-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.tools-section .tools-list .tool-item .text {
  font-size: var(--font-size-m);
}

/* Mini-game Section Styling */
h4 {
  text-align: center;
  width: 60%;
  margin: 0 auto 2em auto;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.03em;
  line-height: 1.8em;
  color: var(--white-color);
}

.draggable-objects,
.drop-points {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.draggable-image {
  max-width: 8em;
  cursor: move;
}

.controls-container {
  color: var(--white-color);
  font-size: 2em;
  margin-bottom: 1em;
}

.apps {
  color: var(--white-color);
  padding: 2em;
}

.dropped {
  width: 8em;
}

/* Responsive media query for max width 800px */
@media screen and (max-width: 800px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  /* body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba (0, 0, 0, 0.2);
  } */

  .navbar :where(.button-close, .button-open) {
    display: block;
    font-size: var(--font-size-l);
  }

  .navbar .button-close {
    position: absolute;
    right: 30px;
    top: 50px;
    color: var(--primary-color);
  }

  .navbar .button-open {
    position: absolute;
    color: var(--white-color);
  }

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: var(--white-color);
    transition: left 0.2s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-item {
    display: block;
    margin-top: 17px;
  }

  button {
    color: var(--primary-color);
    font-size: var(--font-size-l);
  }

  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-details :is(.subtitle, .description),
  .about-section .about-details {
    max-width: 100%;
  }

  .hero-section .hero-details .buttons {
    justify-content: center;
  }

  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }

  .about-section .section-content {
    gap: 70px;
    flex-direction: column-reverse;
  }

  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }

  .gamegenres-section .gamegenre-list {
    gap: 30px;
  }

  .gamegenres-section .gamegenre-list .gamegenre-item {
    width: calc(100% / 2 - 30px);
  }

  .gamegenres-section .gamegenre-list .gamegenre-item .gamegenre-image {
    max-width: 200px;
  }

  .design-principles-section .design-principles {
    padding: 20px;
    width: 100%;
  }

  .design-principles-section .design-principles .design-principles-image {
    width: 150px;
    height: 150px;
  }

  .design-principles-section .design-principles .principle {
    font-size: var(--font-size-m);
  }

  .design-principles-section .design-principles .elaboration {
    font-size: var(--font-size-s);
  }

  .tools-section .tools-list {
    gap: 30px;
  }

  .tools-section .tools-list .tool-item {
    width: calc(100% / 2 - 30px);
  }

  .tools-section .tools-list .tool-item .tool-image {
    max-width: 200px;
  }

  #start {
    color: var(--white-color);
    width: 100%;
    align-content: center;
    position: relative;
    z-index: 30;
    margin-top: 180px;
  }

  #result {
    width: 300px;
    z-index: 29;
    margin: 320px auto 0 auto;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    margin-top: 50px;
  }

  .controls-container {
    top: 50px;
    margin-bottom: 1em;
    align-content: center;
  }

  .dropped {
  width: 10em;
}

  .apps {
    padding: 2.5em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-image {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hero-image.fade-in {
  animation: fadeIn 1s ease forwards;
}
